@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  /* Intro Section Start */
  .glow-section:hover {

    box-shadow: 0 0 10px 5px #ffb923;
    /* Adjust the shadow properties as needed */
  }

  .intro_text {
    @apply relative uppercase text-transparent;
    -webkit-text-stroke: 5px white;
    position: relative;
    overflow: hidden;
  }

  .intro_text::before {
    content: attr(data-text);
    position: absolute;
    color: #ffb923;
    width: 0;
    overflow: hidden;
    transition: 0.8s;
    -webkit-text-stroke: 3px #ffb923;
  }

  .intro_text.visible::before {
    width: 100%;
  }


  /* Intro Section End */


  .nav_bg {
    background: rgb(38, 44, 55);
    background: linear-gradient(270deg, rgba(38, 44, 55, 1) 0%, rgba(51, 60, 75, 1) 45%, rgba(51, 60, 75, 1) 100%);
  }

  /* scrollbar start  */
  .custom-scrollbar {
    overflow-y: scroll;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #4A4C5C;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #ffb923;
    border-radius: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #bdc3c7;
  }

  /* scrollbar end  */
  .flex-all-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bg-house-img {
    background-image: url('/image/treeHouse.png');
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .sliderImg {
    @apply absolute w-full h-full;
    clip-path: var(--path);
    transition: clip-path 0.3s ease-in-out;
  }

}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    /* @apply bg-zinc-200 */
  }
}
