@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  /* Intro Section Start */
  .glow-section:hover {

    box-shadow: 0 0 5px 2px #291334;
    /* Adjust the shadow properties as needed */
  }

  .intro_text {
    @apply relative uppercase text-transparent;
    -webkit-text-stroke: 5px white;
    position: relative;
    overflow: hidden;
  }

  .intro_text::before {
    content: attr(data-text);
    position: absolute;
    color: #291334;
    width: 0;
    overflow: hidden;
    transition: 0.8s;
    -webkit-text-stroke: 3px #291334;
  }

  .intro_text.visible::before {
    width: 100%;
  }


  /* Intro Section End */


  .nav_bg {
    background: rgb(38, 44, 55);
    background: linear-gradient(270deg, rgba(38, 44, 55, 1) 0%, rgba(51, 60, 75, 1) 45%, rgba(51, 60, 75, 1) 100%);
  }

  /* scrollbar start  */
  .custom-scrollbar {
    overflow-y: scroll;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-white;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-bg-light rounded-md;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #bdc3c7;
  }

  /* scrollbar end  */
  .flex-all-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bg-house-img {
    background-image: url('/image/treeHouse.png');
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .sliderImg {
    @apply absolute w-full h-full;
    clip-path: var(--path);
    transition: clip-path 0.3s ease-in-out;
  }

  .sticky-comp {
    position: sticky;
    top: 0;
  }

  .btn-self {
    @apply w-fit px-4 py-2 rounded-md
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  button {
    @apply w-fit px-4 py-2 rounded-md
  }

  h1 {
    @apply text-2xl md:text-3xl lg:text-5xl font-bold;
  }

  h2 {
    @apply text-xl md:text-2xl lg:text-4xl font-semibold;
  }

  h3 {
    @apply text-base md:text-xl lg:text-2xl font-semibold;
  }

  p {
    @apply text-xs md:text-sm lg:text-base;
  }

}
